.Post {
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  margin-bottom: 60px;
  margin-left: 20%;
  margin-right: 20%;
  max-width: 500px;
  width: 600px;
  align-items: center;
  /* max-height: 500px; */
}
.Post-user {
  height: 100%;
  /* display: flex; */
  /* padding: 16px; */
  /* align-items: center; */
  /* justify-content: space-between; */
}
.Post-user-avatar {
  width: 30px;
  height: 30px;
}
/* .Post-user-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
} */
.Post-user-nickname {
  margin-left: 12px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
}
.Post-image-bg {
  background-color: #efefef;
}
.Post-image img {
  display: block;
  width: 100%;
}
.Post-caption {
  padding: 16px 16px;
}
.Post-caption strong {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
}
.vjs-fade-out {
  display: none;
  visibility: hidden;
  opacity: 0;
}

/* fullpage post styling */
.full__page__post {
  /* margin-top: 50px; */
}
.full__page__post__divider {
  border: solid grey 1px;
  height: 700px;
  width: 50%;
  max-width: 500px;
  max-height: 700px;
}
.avatar__comment__container {
  /* border: red solid; */
}
.full__post__avatar__container {
  height: 60px;
  /* border-bottom: #f1e6e6 solid 1px; */
  border-left: #f1e6e6 solid 1px;
}
.full__post__comments__container {
  width: 100%;
  border-top: #f1e6e6 solid 1px;
  border-left: #f1e6e6 solid 1px;
}
.full__page__post__actions__container {
  padding: 16px;
  height: 130px;
  width: 100%;
  border-top: #f1e6e6 solid 1px;
  border-left: #f1e6e6 solid 1px;
}
.full__post__add__comment__container {
  width: 100%;
  height: 50px;
  border-top: #f1e6e6 solid 1px;
  border-left: #f1e6e6 solid 1px;
}
.full__post__left__container {
  border-left: #f1e6e6 solid 1px;
  border-top: #f1e6e6 solid 1px;
  border-bottom: #f1e6e6 solid 1px;
}
.full__post__right__container {
  border-right: #f1e6e6 solid 1px;
  border-top: #f1e6e6 solid 1px;
  border-bottom: #f1e6e6 solid 1px;
}
.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.image {
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  color: black;
  font-size: 1.2rem;
}
