/* .App{
  background-color: rgba(var(--b3f,250,250,250),1);
  
} */

@media (max-width: 767px) {
  #userEditPostModalImage {
    width: 100% !important;
    object-fit: cover !important;
  }
  /* .ant-picker-dropdown,
  .ant-picker-dropdown-placement-topLeft {
    width: 100%;
  } */
}

.ant-carousel .slick-prev {
  display: block !important;
  z-index: 2 !important;
  position: absolute !important;
  left: 10px !important;
  font-size: 25px !important;
}

.ant-carousel .slick-next {
  display: block !important;
  position: absolute !important;
  right: 10px !important;
  z-index: 2;
  font-size: 25px !important;
}

.popupbox-content {
  padding: 0px !important;
}

.App {
  background: #fafafaa8;
  min-height: 100vh;
  /* min-width: 100vh; */
}

.App-main {
  width: 50%;
  margin: 0 auto;
}

.sticky__navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: white;
  /* border: black solid 1px; */
  z-index: 100;
}
.body__container {
  position: relative;
  /* top: 60px; */
}
.top__logo {
  text-align: center;
}
.top__logo img {
  width: 60%;
  height: 100%;
}
.top__navbar__elements {
  /* border: black solid 1px; */
  width: 100%;
  height: 40px;
}
.posts__container > * {
  margin: 30px 0;
}

.post__container {
  /* border: black solid 1px; */
  background-color: white;
  border-radius: 10px;
  width: 100%;
  height: 60vh;
  /* max-height: 200px; */
  min-width: 350px;
  min-height: 350px;
}
.post__header {
  /* border: black solid 1px; */
  height: 10%;
  display: flex;
  align-items: center;
}
.post__header img {
  /* height: 100%; */
}
.post__header > * {
  padding-left: 10px;
}
.post__image {
  /* border: black solid 1px; */
  height: 60%;
}
.post__image img {
  /* width: 100%; */
  height: 100%;
  margin: auto;
}
.post__clikes__and__comments {
  /* border: black solid 1px; */
  height: 10%;
}
.post__clikes__and__comments > * {
  padding-right: 18px;
}
.post__clikes__and__comments > *:hover {
  cursor: pointer;
}
.post__captions {
  /* border: black solid 1px; */
  height: 10%;
}
.post__add__comment {
  /* border: black solid 1px; */
  /* height: 10%; */
  height: 50px;
}

hr.light {
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}

/* Explore styling */
.explore__container {
  width: 100%;

  /* border: red solid; */
}
.explore__container > * {
  padding: 10px;
  margin: 10px;
}
.bBorder {
  border: black solid 1px;
  height: 300px;
}

.rBorder {
  border: red solid;
  height: 100%;
}

.yBorder {
  /* border: yellow solid; */
  /* height: 100%; */
}

.gBorder {
  border: black solid 1px;
  height: 100%;
}

.xBorder {
  border: black solid 1px;
  height: 100%;
}
